/* You can add global styles to this file, and also import other style files */
/*
    Student Name: Harvey Cabrias
    Student ID: 300906772
    Date: 2/16/2019
*/
.img-service {
  width:110px;
  height:110px;
  float:left;
  margin-right:10px;padding:2px
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo{
  width: 50px;
  height: 50px;
}
.profile{
  max-width:25%;
  max-height:25%;

  float:left;
  margin-right:10px;
  padding:2px
}

.project{
  max-width:20%;
  max-height:25%;
  object-fit: contain;
  float: left;
  margin-right:10px;
  padding:2px
}
.munchies{
  max-width:13%;
  max-height:13%;
  object-fit: contain;
  float: left;
  margin-right:10px;
  padding:2px
}

.textCenter{
  text-align: center;
}

.contact{
  padding: 4%;
  height: 400px;
}

ul {
  list-style-type: square;
}


/* Contact CSS */
.contact{
  padding: 4%;
}
.col-md-3{
  background: #C98F3E;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* Services CSS */
.wrap {
  display: flex;
  background: lightgrey;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.wrap:hover {
  background: linear-gradient(135deg,#A2CE8F 0%,#77A165 100%);
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
.display-6 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1re
}
