<% include ./partials/header.ejs %>

    <div class="container">
      <div class="jumbotron">
        <% if (title == "Home") { %>
            <% include ./partials/contents/home.ejs %>
        <% } %>
        <% if (title == "About") { %>
         <% include ./partials/contents/about.ejs %>
        <% } %>
        <% if (title == "Projects") { %>
         <% include ./partials/contents/project.ejs %>
        <% } %>

        <% if (title == "Services") { %>
          <% include ./partials/contents/service.ejs %>
            <!-- <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a> -->
         <% } %>
        <% if (title == "Contact") { %>
         <% include ./partials/contents/contact.ejs %>
           <!-- <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a> -->
        <% } %>
      </div>
    </div>

<% include ./partials/footer.ejs %>
