<link href="CSS/style.css" rel="stylesheet" type="text/css">

<img src="Assets/images/photo.jpg" class="profile"><br/><br/>
<p>Hi, My name is Harvey Cabrias, a graduating college student in software engineering technology with one year experience of customer service, strong critical thinking and exceptionally skilled in programming
My Specialty is in front-end designing and back-end programming.</p>

<a class="btn btn-primary" href="Assets/files/Harvey_Owen_Cabrias.pdf" role="button"><i class="fa fa-download" aria-hidden="true"></i>Download Resume</a>