<link href="CSS/style.css" rel="stylesheet" type="text/css">
<h1 class="textCenter">About</h1>
<img src="Assets/images/photo.jpg" class="profile"><br/><br/>
<h4 >Harvey Owen Cabrias</h4>
<h4 >Front-end Developer|Back-end Programmer</h4>
<p>A graduating college student from Centennial College with a software engineering advance deploma.
Deals with front-end and back-end development ranging from, web designing, web developing, mobile developing (Android), application development and cloud computing.
I have a 3 years education experience in programming such asC#,Java, PL/SQL, Python, and Typescript.
I am an exceptional web developer have expeirnce in HTML, XML, CSS, and JSON.
I am also good with database management in MySQL, SQLite, and Oracle.
</p>
<p >Feel free to take a look at my most recent achievement and project on my <a href="/projects">Project page</a></p>

<a class="btn btn-primary" href="Assets/files/Harvey_Owen_Cabrias.pdf" role="button"><i class="fa fa-download" aria-hidden="true"></i>Download Resume</a>