<h4>MyLibrary</h4>
<p>MyLibrary is a web project purpose to help customer create a repository that can store their collection of books.
    MyLibrary allows the user to create, upload, edit and delete the book inside their repository.
    The project also allows the customer to have an easy access with their repository by having a search function.
    This project is developed in ASP.NET, using HTLM, CSS, C#, Database </p>
<h4>Employement Management System</h4>
<p>Employee Management System is an android application purpose to help the manager reduce the manual work in managing the employee, information, schedule and payroll.
    Employee management system allows the employee to change their work availability, view payment history and, posted in company events.
    This projecty is developed in Android, using Java and SQLite
</p>
<h4></h4>