<img src="Assets/images/mobile.png" style="width:150px;height:150px;float:left;margin-right:10px;padding:2px"><br/><br/>
<p>Im an excelent mobile developer with Java and and SQLite</p>
<br/>
<br/>
<br/>
<br/>
<img src="Assets/images/code.png" style="width:150px;height:150px;float:left;margin-right:10px;padding:2px"><br/><br/>
<p>Im an exceptional programmer in front-end and back-end of the application</p>
<br/>
<br/>
<br/>
<br/>
<img src="Assets/images/html.png" style="width:150px;height:150px;float:left;margin-right:10px;padding:2px"><br/><br/>
<p>Web development services</p>
<p>HTML, NODE.js, EJS,</p>

