<div class="container">
  <div class="jumbotron">
    <h1>Project|Harvey Cabrias</h1>

    <div class="alert alert-secondary" role="alert">
      <img src="assets/Assets/images/MyLibrary.png" class="project">
      <h4 class="project-text">MyLibrary</h4>
      <p class="project-text">I am the developer and designer for MyLibrary web project, the purpose of the project is to help the customer create
        a repository that can store their collection of books. MyLibrary allows the user to create, upload, edit and delete
        the book inside their repository. The project also allows the customer to have an easy access with their repository
        by having a search function. This project is developed in ASP.NET, using HTLM, CSS, C#, Database for more information
        visit my
        <a href="https://github.com/JueVioleGrace77/MyLibrary">GitHub/MyLibrary</a></p>
      <br/>
      <br/>
    </div>
    <div class="alert alert-secondary" role="alert">
      <img src="assets/Assets/images/workersHub.png" class="munchies">
      <h4 class="project-text">WorkersHub</h4>
      <p p class="project-text">WorkersHub is an Employee Management System purpose to help the manager reduce the manual work in managing the employee,
        information, schedule and payroll. Employee management system allows the employee to change their work availability,
        view payment history and, posted in company events. This project is developed in Android, using Java and SQLite for
        more infomration visit my
        <a href="https://github.com/JueVioleGrace77/WorkersHub">GitHub/WorkersHub</a></p>
      <br/>
      <br/>

    </div>

    <div class="alert alert-secondary" role="alert">
      <img src="assets/Assets/images/Munchies.png" class="munchies">
      <h4 class="project-text">Munchies</h4>
      <p p class="project-text"> Munchies is an ordering system for the Centennial College student, the purpose of this project is to avoid unnecessary
        wait time in front of the restaurant during the busy study schedule. The application allows centennial college student
        to pre-order and retrieve their food at any available restaurant in Centennial Campus during working hours. The system
        can be be used in mobile devices or through the internet. This application is currently in-progress.
        <br/>
        <br/>
        <br/>
        <br/>

      </p>
    </div>
  </div>
</div>
