<div class="container">
  <div class="jumbotron">
    <!-- Content for the Service page -->
    <h1>Services|Harvey Cabrias</h1>
    <div class="container">
      <div class="row mbr-justify-content-center">
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <img src="assets/Assets/images/mobile.png" class="img-service">
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Android Mobile Developer</h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Excellent android developer skilled with Java and SQLite</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <img src="assets/Assets/images/database.png" class="img-service">
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Database Management</h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Skilled at managing and designing database structure in MySQL, SQLite, Oracle </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <img src="assets/Assets/images/html.png" class="img-service">
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Web Developer</h2>
              <p class="mbr-fonts-style text1 mbr-text display-6">Outstanding web designer and developer. Skilled in CSS, HTML, XML, JSON, Node.JS and ASP.NET</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mbr-col-md-10">
          <div class="wrap">
            <div class="ico-wrap">
              <img src="assets/Assets/images/code.png" class="img-service">
            </div>
            <div class="text-wrap vcenter">
              <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Full Stack Programmer</h2>
              <p>Exceptionally skilled in front/back-end programmer. My programming services are Java, C#, Python, PL/SQL and
                Typescript</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
