<link href="CSS/style.css" rel="stylesheet" type="text/css">
<h1>About|Harvey Cabrias</h1>
<div class="alert alert-secondary" role="alert">
<img src="Assets/images/photo.jpg" class="profile"><br/><br/>
<h4 >Harvey Owen Cabrias</h4>
<h4 >Front-end Developer|Back-end Programmer</h4>
<p> A graduating college student from Centennial College with a software engineering advance deploma.
Deals with front-end and back-end development ranging from, web designing, web developing, mobile developing (Android), application development and cloud computing.
I have a 3 years education experience in programming in <strong>C#, Java, PL/SQL, Python,</strong> and <strong>Typescript.</strong>
I am an exceptional web developer have expeirnce in <strong>HTML, XML, CSS,</strong> and <strong>JSON.</strong>
I am skilled at managing and designing database structure in <strong>MySQL, SQLite, Oracle.</strong> 
View my <a href="Assets/files/Harvey_Owen_Cabrias.pdf">resume</a> for more information
</p>
<p >Feel free to take a look at my most recent achievement and project on my <a href="/projects">Project page</a></p>
<br/>
</div>
